<%= form_for @person, html: {class: "form-horizontal"} do |f|  %>
  <% if @person.errors.any? %>

    <div class="alert alert-danger col-md-offset-2">
      <div class=
        <div id="error_explanation">
          <h2 class="text-danger"><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
          <% @person.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
          </ul>
        </div>
    </div>
  <% end %>


  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :first_name %>
      </div>
      <div class="col-sm-4">
          <%= f.text_field :first_name, class: "form-control" %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :last_name %>
      </div>
      <div class="col-sm-4">
          <%= f.text_field :last_name, class: "form-control" %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :date_of_birth %>
      </div>
      <div class="col-sm-4">
          <%= f.date_field :date_of_birth, class: "form-control" %>
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :bio %>
      </div>
      <div class="col-sm-4">
          <%= f.text_area :bio, class: "form-control" %>
      </div>

    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
            <%= f.check_box :active %>
            <%= f.label :active %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to 'Back', people_path, class: "btn btn-default" %>
      </div>
    </div>
  </form>

<% end %>
